:root {
    --swiper-navigation-sides-offset: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: center / contain url('../images/body-bg.svg'), #EFF5FF;
    font-family: "Montserrat Alternates", sans-serif;
}

.main {
    flex: 0 0 auto;
}

.footer {
    flex-shrink: 0;
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 48px;
    border-radius: 4px;
    background-color: #FFCA33;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    transition: color 0.3s ease;
}
.btn:hover {
    background-color: #ffc800;
}

/* header */
.header {
    background-color: #fff;

    padding: 10px 0px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 700;
}
.header__logo {
    color: #FFCA33;
    text-decoration: none;
}
.header__logo span {
    color: #041A3F;
}
.header__phone {
    color: #041A3F;
    text-decoration: none;
}

/* hero */
.hero {
    background-color: #fff;
    border-radius: 0px 0px 0px 300px;
    padding: 70px 0px 120px 0px;
}
.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.hero__title {
    font-size: 52px;
    font-weight: 700;
}
.hero__title span {
    display: block;
    color: #FFCA33;
}
.hero__link {
    font-size: 18px;
    font-weight: 700;
    scroll-behavior: smooth;

}
.hero__image img {
    width: 100%;
    height: 100%;
    max-width: 514px;
    min-height: 481px;
}

/* catalog */
.catalog {
    padding: 128px 0px;
}
.catalog__title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 64px;
    text-align: center;
}
.catalog__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.catalog__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    border-radius: 20px;
    background-color: #fff;

    padding: 32px 16px;
}
.catalog__product-image {
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
}
.catalog__product-name {
    font-size: 22px;
    margin-bottom: 12px;
}
.catalog__product-size {
    font-size: 16px;
    margin-bottom: 12px;
}
.catalog__product-price {
    font-size: 18px;
    margin-bottom: 16px;
}
.catalog__product-link {
    width: 100%;
    font-size: 18px;

    padding: 13px;
    margin-bottom: 16px;
}
.catalog__product-stock {
    font-size: 16px;
}

/* product */
.product {
    padding: 32px 0px 64px 0px;
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
    
    margin-bottom: 48px;
}
.breadcrumbs__list span {   
    opacity: 60%;
}
.breadcrumbs__link {
    text-decoration: none;
    opacity: 60%;
    color: #041A3F;

    transition: opacity .2s;
}
.breadcrumbs__link:hover {
    opacity: 100%;
}
.product__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 122px;
    row-gap: 50px;
}
.product__name {
    font-size: 52px;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 12px;
}
.product__sku {
    font-size: 16px;
    line-height: 160%;
    
    margin-bottom: 24px;
}
.product__price {
    color: #F7BD29;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 24px;
}
.product__characteristics h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    
    margin-bottom: 8px;
}
.product__equipment {
    font-size: 16px;
    line-height: 160%;

    margin-bottom: 24px;
}
.product__size {
    font-size: 16px;
    line-height: 160%;

    margin-bottom: 24px;
}
.product__btn {
    margin-bottom: 8px;
    border: none;
}
.product__stock {
    margin-left: 78px;
}
.product__description {
    font-size: 16px;
    margin-top: 16px;
}

/* swiper */
.product__swiper {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 592px;
    max-height: 564px;
}
.swiper {
    cursor: pointer;
}
.mySwiper {
    width: 82px;
    border-radius: 5px 5px 5px 5px;
}
.mySwiper .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mySwiper .swiper-wrapper .swiper-slide:hover {
    outline: 2px solid #FFCA33;
    outline-offset: -2px;
}
.mySwiper .swiper-wrapper .swiper-slide-thumb-active img{
    outline: 2px solid #FFCA33;
    outline-offset: -2px;
}
.mySwiper .swiper-wrapper .swiper-slide {
    height: 100px;
}
.mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #ffffff;
}
.mySwiper2 {
    width: 490px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
}
.mySwiper2 .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #ffffff;
}

/* swiper swiper - fullscreen */
.product__swiper-fullscreen {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    position: absolute;
    background: center / contain url('../images/body-bg.svg'), #EFF5FF;
    padding: 16px;
}
.swiperModal {
    max-width: 84px;
    width: 100%;
    height: 100%;
}
.swiperModal .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.swiperModal .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 112px;
    border-radius: 5px;
    background-color: #fff;
}
.swiperModal .swiper-wrapper .swiper-slide-thumb-active {
    outline: 2px solid #FFCA33;
    outline-offset: -2px;
}
.swiperModal .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 84px;
    max-height: 112px;
    object-fit: contain;
}
.swiperModal2 .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.swiperModal2 .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.swiperModal2 .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiperModal2 .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 490px;
    max-height: 564px;
    object-fit: contain;
}

.swiper-navigation-icon {
    display: none;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    box-shadow: 0px 0 20px 0 #c4c4c4;
    background: no-repeat center url('../images/arrow.png') #ffffff;
    left: var(--swiper-navigation-sides-offset);
    right: var(--swiper-navigation-sides-offset);
}
.swiper .swiper-button-prev {
    transform: rotate(180deg);
}
.swiper .swiper-button-next {
    right: 30px;
}

.modal__close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 200;
    
}

/* popup */
.product__popup {
    z-index: 20;
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: center / contain url('../images/body-bg.svg'), #EFF5FF;
}
.popup__form {
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.04);

    text-align: center;
    
    padding: 48px 32px;
}
.popup__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 16px;
}
.popup__subtitle {
    font-size: 16px;
    line-height: 160%;
    opacity: 80%;

    margin-bottom: 32px;
}
.popup__input {
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    background: #fff;

    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;

    padding: 16px;
    margin-bottom: 16px;
}
.popup__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    text-align: left;

    margin-bottom: 32px;
}
.popup__checkbox input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}
.popup__checkbox input:checked {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.popup__btn{
    width: 100%;
    border: none;
    font-size: 18px;
}

.popup__close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

/* footer */
.footer {
    padding: 32px 0px;
    background-color: #fff;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
}
.footer__logo {
    text-decoration: none;
    color: #FFCA33;
}
.footer__logo span {
    color: #041A3F;
}
.footer__phone {
    color: #041A3F;
    text-decoration: none;
}



/* Адаптив сайта */

@media screen and (max-width: 1200px) {
    .hero {
        border-radius: 0;
    }
    .product__content {
        column-gap: 20px;
    }
}

/* До 1024px: Большие планшеты и малые мониторы ПК */
@media screen and (max-width: 1024px) {
    .container {
        padding: 10px;
    }
    .header__container {
        font-size: 24px;
        font-weight: 700;
    }
    .hero {
        background-color: #fff;
        border-radius: 0;
    }
    .hero__image img {
        width: 100%;
        height: 100%;
        max-width: 299px;
        min-height: 274px;
    }
    .catalog {
        padding: 64px 0px;
    }
    .catalog__products {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .product__content {
        column-gap: 20px;
    }
    .product__swiper {
        display: flex;
        gap: 20px;
        width: 492px;
        height: 480px;
    }
    .mySwiper {
        width: 65px;
        border-radius: 5px;
    }
    .mySwiper .swiper-wrapper {
        gap: 20px;
    }
    .mySwiper .swiper-wrapper .swiper-slide {
        height: 80px;
    }
    .mySwiper2 {
        width: 407px;
        border-radius: 10px;
        background-color: #ffffff;
    }
    .footer__container {
        font-size: 24px;
        font-weight: 700;
    }

}

/* До 960px: Некоторые планшетные форматы и старые ноутбуки */
@media screen and (max-width: 960px) {
    .container {
        padding: 10px;
    }
    .header__container {
        font-size: 18px;
        font-weight: 700;
    }
    .hero__title {
        font-size: 42px;
    }
    .catalog__title {
        font-size: 36px;
        margin-bottom: 32px;
    }
    .catalog__products {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .product__content {
        column-gap: 20px;
    }
    .product__name {
        font-size: 42px;
    }
    .product__swiper {
        display: flex;
        gap: 20px;
        width: 460px;
        height: 500px;
    }
    .mySwiper {
        width: 60px;
        border-radius: 5px;
    }
    .mySwiper .swiper-wrapper {
        gap: 32px;
    }
    .mySwiper .swiper-wrapper .swiper-slide {
        height: 74px;
    }
    .mySwiper2 {
        width: 380px;
        border-radius: 10px;
        background-color: #ffffff;
    }
    .footer__container {
        font-size: 18px;
        font-weight: 700;
    }
}

/* До 768px: Планшеты (iPad Mini и подобные) */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .hero__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        row-gap: 70px;

        text-align: center;
    }
    .hero__text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .catalog__products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .product__swiper {
        display: flex;
        gap: 20px;
        width: 364px;
        height: 400px;
    }
    .mySwiper {
        width: 44px;
        border-radius: 10px;
    }
    .mySwiper .swiper-wrapper {
        gap: 32px;
    }
    .mySwiper .swiper-wrapper .swiper-slide {
        height: 54.15px;
    }
    .mySwiper2 {
        width: 300px;
        border-radius: 10px;
        background-color: #ffffff;
    }
}

/* До 640px: Смартфоны среднего класса */
@media screen and (max-width: 640px) {
    .container {
        padding: 10px;
    }
    .hero__title {
        font-size: 32px;
    }
    .catalog__title {
        font-size: 28px;
    }
    .catalog__products {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .product__content {
        display: flex;
        justify-content: center;
    }
    .product__swiper {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 451px;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }
    .mySwiper {
        width: 100%;
        max-width: 300px;
    }
    .mySwiper .swiper-wrapper {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .mySwiper .swiper-wrapper .swiper-slide {
        max-width: 48px;
        height: 60px;
    }
    .mySwiper2 {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 375px;
    }
    .mySwiper2 .swiper-wrapper .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mySwiper2 .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .product__name {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .product__sku {
        margin-bottom: 12px;
    }
    .product__price {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .product__btn {
        font-size: 18px;
    }
    .product__characteristics h4 {
        margin-bottom: 12px;
    }
    .product__equipment {
        margin-bottom: 12px;
    }
    .product__size {
        margin-bottom: 12px;
    }
    .product__swiper-fullscreen {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

/* До 320px: Очень узкий экран (старые телефоны) */
@media screen and (max-width: 320px) {
    .container {
        padding: 10px;
    }
    .catalog__title {
        font-size: 22px;
    }
    .catalog__products {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .product__swiper {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 451px;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }
    .mySwiper {
        width: 100%;
        max-width: 300px;
    }
    .mySwiper .swiper-wrapper {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .mySwiper .swiper-wrapper .swiper-slide {
        max-width: 48px;
        height: 60px;
    }
    .mySwiper .swiper-wrapper .swiper-slide img {
        width: 48px;
        height: 60px;
    }
    .mySwiper2 {
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 375px;
    }
    .mySwiper2 .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}