* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: center / contain url('../images/body-bg.svg'), #EFF5FF;
    font-family: "Montserrat Alternates", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 48px;
    border-radius: 4px;
    background-color: #FFCA33;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    transition: color .2s;
}
.btn:hover {
    background-color: #ffd334;
}

/* header */
.header {
    background: #041A3F;
    padding: 10px 0px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}
.header__logo {
    color: #FFCA33;
    font-size: 32px;
    text-decoration: none;
}
.header__list {
    display: flex;
    gap: 15px;
}
.header__item {
    list-style: none;
}
.header__link {
    color: #FFCA33;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s;
}
.header__link:hover {
    color: #000;
    opacity: 0.7;
}

.main {
    flex: 1 1 auto;
}

/* dashboards */
.dashboards {
    padding: 30px 0px;
}
.dashboards__title {
    color: #041A3F;
}
.dashboards__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 30px;
}
.dashboards__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}
.dashboards__item-image {
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 330px;
    object-fit: contain;
    border-radius: 30px;
}
.dashboards__item-text {
    width: 300px;
}
.dashboards__item-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dashboards__item-actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* product */
.product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.product fieldset {
    border: none;
}
.product legend {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}
.product__form-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product__form-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.product__form-item label {
    font-size: 16px;
}
.product__form-item input {
    width: 100%;
    max-width: 450px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 1px 3px #000000;    
    padding: 9px;
}
.product__form-btn {
    margin-top: 30px;
    border: none;
}

/* footer */
.footer {
    background: #041A3F;
    flex-shrink: 0;
    text-align: center;
    padding: 32px 0px;
}
.footer__container {
    display: flex;  
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}
.footer__logo {
    text-decoration: none;
    color: #FFCA33;
}